@model IEnumerable<TestCrud.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Employees Management</h1>

<p>
    <a asp-action="Create"><i class="fa fa-add"></i>Add New Employees</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
                 
                

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)

                    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-secondary"><i class="fa fa-eye"></i> Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
